
.navbar {
  position: fixed;
  padding-bottom: 56px;
  width: 100%;  
  display: grid;
  font-size: xx-large ;
}
  .navbar-brand-text {  
    font-size: 48px; 
}

.about-me-text {
  font-size: 17px;
  width:auto;
  margin-bottom: 150px;
}

.headshot {
  width: 450px;
}