
.navbar {
  position: fixed;
  padding-bottom: 56px;
  width: 100%;  
  display: grid;
  font-size: xx-large ;
}
  .navbar-brand-text {  
    font-size: 48px; 
}
.about-me-greeting {
  font-size: 23;
}

.about-me-text {
  font-size: 17px;
  width:auto;
  margin-bottom: 150px;
}

.headshot {
  width: 400px;
}


.cardHeader {
  background-color: grey;
  font-size: x-large;
  font-weight: 600;
  align-items: center;
  justify-items: center;
}

.projectCard {
  height: 600px;
}